<div style="margin-top: 10px;">
<%= link_to "비밀번호를 잊어버렸어요", new_password_path(resource_name), style: "color: white;" %>
<span style="margin-left: 10px; margin-right: 10px;">|</span>
<%= link_to "회원가입", users_confirm_path, style: "color: white;" %>
<span style="margin-left: 10px; margin-right: 10px;">|</span>
<%= link_to "로그인", new_user_session_path, style: "color: white;" %>
<%#= link_to "계정 잠금해제 요청", new_unlock_path(resource_name), style: "color: #616161" %>
</div>